/* 各个页面相同的样式表 : 头, 尾部 */
/* 版心 */
body {
    background-color: #aaa;
}

.main {
    height: auto;

}

.wrapper {
    margin: 0 auto;
}

/* 顶栏 */
.shortcut {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 52px;
    background-color: rgb(0, 47, 147);
    z-index: 99;
}

.shortcut .wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 52px;

}

.shortcut img {
    float: left;
    margin-right: 20px;
    height: 52px;
    border-radius: 50%;
}

.shortcut span {
    line-height: 52px;
    height: 52px;
    color: #ccc;
    font-size: 32px;
    font-weight: 700;
}

/* 初始化盒子 */
.content {
    /* position: absolute; */
    /* top: 52px; */
    width: 100%;
    height: 100%;
    background-color: rgb(0, 47, 147);
}

/* 侧边栏 */
.content-left {
    position: absolute;
    width: 10%;
    height: 100%;
    color: rgba(0, 0, 0, .6);
    z-index: 2;
    /* background-color: #aaa; */
}

.content-left .nav {
    position: absolute;
    top: 10%;
    left: 10%;
    padding-bottom: 10px;
    width: 60px;
    height: auto;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: all .5s;
}

.content-left .btn {
    position: absolute;
    display: flex;
    padding-left: 10%;
    width: 100%;
    height: 40px;
}

.content-left .btn-item {
    float: left;
    margin: 0 3px;
    margin-top: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.content-left .btn-item:nth-child(1) {
    background-color: #eb5a56;
}

.content-left .btn-item:nth-child(2) {
    background-color: #f8bc33;
}

.content-left .btn-item:nth-child(3) {
    background-color: #62cb44;
}

.content-left .icon {
    display: flex;
    padding: 0 5%;
    width: auto;
    height: auto;
    border-radius: 15px;
}

.content-left .icon-img {
    flex-shrink: 0;
    margin-left: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, .3);
    overflow: hidden;
}

.content-left .icon-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.content-left .icon-text {
    margin-left: 5px;
    height: 75px;
    opacity: 0;
    /* 鼠标接触显示手型 */
    cursor: pointer;
    transition: all .5s;
}

.content-left .icon-text p {
    color: #aaa;
    padding-top: 5px;
}

.content-left .icon-text h2 {
    color: #ddd;
    font-weight: 400;
}

.content-left .icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.content-left .line {
    margin: 0 10%;
    width: 80%;
    height: 1px;
    background-color: rgba(245, 253, 255, .5);
    transition: all .5s;
}

.content-left .line.one {
    margin: 5px 0;
    margin-top: 40px;
    width: 100%;
}

.content-left .title {
    margin: 10px 0;
    margin-left: 10%;
    width: 60px;
    font-weight: 900;
}

.content-left .title p {
    font-size: 14px;
}

.content-left .menu {
    margin-left: 10%;
    width: 80%;
}

.content-left .item {
    display: flex;
    position: relative;
    border-radius: 6px;
    transition: .5s;
    cursor: pointer;
}

.content-left .item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.content-left .light {
    position: absolute;
    left: -25px;
    width: 6px;
    height: 50px;
    background-color: #eb5a56;
    border: 0 4px 4px 0;
    transition: all .5s;
    opacity: 0;
}

.content-left .item:hover .light {
    opacity: 1;
}

.content-left .licon {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* display: inline-block; */
    flex-shrink: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    /* background-image: url('../upload/portrait.jpg');
    background-size: cover;
    border-radius: 50%; */
}

.content-left .licon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.content-left .text {
    float: left;
    opacity: 1;
    padding-left: 10%;
    margin-right: 20%;
    width: 200px;
    height: 50px;
    color: #ddd;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    transition: .5s;
    /* overflow: hidden; */
}

/* .content-left .item:hover .text {
    opacity: 1;
    width: 200px;
} */

.content-left .con {
    width: 100%;
    /* height: 100%; */
    background-color: rgba(255, 255, 255, 0.2);
}

.content-left .con>a {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: rgb(0, 47, 147);
    cursor: pointer;
    transition: all .3s;
}

.content-left .con>a:hover {
    color: #fff;
    font-weight: 600;
    background-color: rgba(0, 47, 147, 0.2);
}

/* 内容区 */
.content_right {
    position: absolute;
    left: 10%;
    top: 53px;
    /* float: left; */
    width: 80%;
    height: 90%;
    background-color: #6495ed;
    z-index: 1;
    overflow: hidden;
}

.content_right iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}